{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}

    <div class="row">
    <div class="col-md-6 offset-md-3 ml-auto" style = "margin-top:20px;">
        <h3>Add Contract Sale Invoice - {{ invoice_data.id }} </h3>
        <hr>
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary">Add Contract Sale Invoice</button>
        </form>
    </div>
    </div>
        {% for idata in invoice_data %}

        {% endfor %}


    <script>
        let total_amount = 0;

        document.addEventListener("DOMContentLoaded", function(event) {
            let invoice_data = {{ invoice_data|safe }};
            const sales_ids = [];
            var total = 0;

            console.log(invoice_data);
            if (invoice_data) {
                for (var i=0; i<invoice_data.length; i++){
                    total += invoice_data[i].total_amount;
                    sales_ids.push(invoice_data[i].id);
                }
                console.log("sales_id:" + sales_ids );
                console.log("total:" + total );

                set_fields("id_sales_ids", sales_ids);
                set_fields("id_total_amount", total);

            }else{
                console.log("invoice data not received!");
            }


        });

        function get_total_amount(total){
            total_amount += total;
            console.log("total amount: " + total_amount);
        }

        function set_fields(el_name, new_value){
            console.log("setting selected values for " + el_name);
            var el = document.getElementById(el_name);
            $(el).val(new_value);
        }

        document.getElementById("id_invoice_file").addEventListener("change",function(){
            var filename = this.value
            if (filename){
                filename = filename.replace(/^.*[\\\/]/, '').replace('.pdf','');
                console.log("filename: " + filename);
                set_fields("id_invoice_number", filename);
            }
            console.log("file selected:" + filename);
        })
    </script>
{% endblock body %}
{% load static %}

