{% extends "layout.html" %}

{% block body %}
    
  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8 p-3 mb-2 bg-light text-dark">

        <!-- Contract Alias -->
        <h4 class="mt-4">Invoice Details</h4>
        <hr>
        <!-- Post Content -->
        <p class="lead">
            <b>Contract:</b> {{ cont_sale_invoice.contract__contract_alias|safe }}
        </p>
        <p class="lead">
            <b>Invoice Number:</b> {{ cont_sale_invoice.invoice_number|safe }}
        </p>
        <p class="lead">
            <b>Date:</b> {{ cont_sale_invoice.date|safe }}
        </p>
        <p class="lead">
            <b>Due Date:</b> {{ cont_sale_invoice.due_date|safe }}
        </p>
        <p class="lead">
            <b>Currency:</b> {{ cont_sale_invoice.contract__currency|safe }}
        </p>
        <p class="lead">
            <b>Total Amount:</b> {{ cont_sale_invoice.total_amount|safe }}
        </p>
        <p class="lead">
            <b>Is Paid off:</b> {{ cont_sale_invoice.is_paid_off|safe }}
        </p>
        <p class="lead">
            <b>Invoice File:</b> {{ cont_sale_invoice.invoice_file|safe }}
        </p>
        <p class="lead">
            <b>Note:</b> {{ cont_sale_invoice.note|safe }}
        </p>


    </div> <!--post content form-->
    
  </div>  <!-- /.row -->

        <a href="{% url 'accounting:cont_sale_invoices' %}">Return</a>
{% endblock body %}