{% extends "layout.html" %}

{% block body %}
    
    <div class="row">
        <div class = "col-md-10 offset-md-3">
            <div class="col-lg-8">
                <h3>Customers</h3>
                <hr>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href ="{% url 'accounting:addcustomer' %}">Add Customer</a>

    <div class="row">
        <div class = "col-md-10 offset-md-3">
            <div class="col-lg-8">
                <div align="right">
                    <form>
                        {% csrf_token %}
                        <input type="text" name = "keyword" class="input" placeholder="Search">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if not all_customers %}
        <div class="alert alert-danger" style = "margin-top:20px;">There is no customer yet.</div>
    {% else %}
        <table class="table table-hover" style="margin-top:20px;">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Company</th>
                    <th scope="col">Web</th>
                    <th scope="col">Email</th>
                    <th scope="col">Responsible</th>
                    <th scope="col">Created Date</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in all_customers  %}
                    <tr>
                        <th scope="row">{{ customer.id }}</th>
                        <td><a href="{% url 'accounting:customer_detail' customer.id %}">{{ customer.company }}</a></td>
                                    <!--/articles/article/{{ article.id }}-->
                        <td>{{ customer.web }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.responsible }}</td>
                        <td>{{ customer.created_date }}</td>
                        <td><a href="{% url 'accounting:update_customer' customer.id %}">Update</a></td>
                                    <!--/articles/update/{{ article.id }}-->
                        <td><a href="{% url 'accounting:delete_customer' customer.id %}">Delete</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        
    {% endif %}
{% endblock body %}