<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="{% url 'index' %}">TS Base</a>
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'article:dashboard' %}">Articles</a>
            </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Accounting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'accounting:customers' %}">Customers</a>
                  <a class="dropdown-item" href="{% url 'accounting:bank_accounts' %}">Bank Accounts</a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'accounting:contracts' %}">1. Contracts</a>
                  <a class="dropdown-item" href="{% url 'accounting:contract_sales' %}">2. Contract Sales</a>
                  <a class="dropdown-item" href="{% url 'accounting:cont_sale_invoices' %}">3. Contract Sales Invoices</a>
                  <a class="dropdown-item" href="{% url 'accounting:cont_sales_transactions' %}">4. Contract Sales Transactions</a>

                </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>

          </ul>

          <ul class="navbar-nav ml-auto">

            {% if request.user.is_authenticated %}
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'user:logout' %}">Logout [{{ request.user.username }}]</a>
              </li>
            {% else %}
              <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">Login</a>
                  </li>
            {% endif %}
                 <li class="nav-item">
                <a class="nav-link" href="{% url 'user:register' %}">Register</a>
              </li>
          </ul>
        </div>
      </nav>
