{% extends "layout.html" %}
{% load humanize %}
{% load mathfilters %}
{% block body %}

    <div class="container-fluid">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <form>
                  <h3>Contract Sales</h3>
                  <p>&nbsp;</p>
                  <a class="btn btn-info" href ="{% url 'accounting:add_contract_sale' %}">Add Contract Sale</a>
                  <a class="btn btn-info text-gray disabled" id="id_btn_invoice" onclick="set_invoice_data()">Make Invoice</a>
<!--                {% csrf_token %}-->
<!--                <button class="btn btn-secondary" type="submit">Search</button>-->
          </div>
<!--                <input type="text" name="keyword" class="form-control" placeholder="Input a keyword to search for ..." aria-label="" aria-describedby="basic-addon1">-->
              </form>
        </div>

        <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <form>
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit">Search</button>
              </div>
                  <input type="text" name="keyword" class="form-control" placeholder="Input a keyword ..." aria-label="" aria-describedby="basic-addon1">
                </form>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked />
            <label class="form-check-label" for="inlineCheckbox1">Hide invoiced sales</label>
        </div>



    {% if not contract_sales %}
        <div class="alert alert-danger" style = "margin-top:20px;">There is no contract sale yet.</div>
    </div>
    {% else %}
        <table class="table table-hover" style="margin-top:20px;">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Invoice</th>
                    <th scope="col">Contract Alias</th>
                    <th scope="col">Date</th>
                    <th scope="col">Worked Hours</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Rate Amount</th>
                    <th scope="col">Currency</th>
                </tr>
            </thead>
            <tbody>
                {% for cs in contract_sales  %}
                    <tr>
                        <th scope="row">{{ cs.id }}</th>
                        {% if cs.is_invoiced %}
                        <td><input class="form-check-input radioSales" style="vertical-align: middle; margin: 10px;" name="radio-payoff" type="radio" value="{{ cs.id }}" disabled></td>
                        {% else %}
                        <td><input class="form-check-input radioSales" style="vertical-align: middle; margin: 10px;" name="radio-payoff" type="radio" value="{{ cs.id }}"></td>
                        {% endif %}
                        <td><a href="{% url 'accounting:contract_sale_detail' cs.id %}">{{ cs.contract__contract_alias }}</a></td>
                                    <!--/articles/article/{{ article.id }}-->
                        <td>{{ cs.date }}</td>
                        <td>{{ cs.worked_hours }}</td>
                        <td>{{ cs.worked_hours|mul:cs.contract__rate_amount }}</td>
                        <td>{{ cs.contract__rate_amount }}</td>
                        <td>{{ cs.contract__currency }}</td>
                        <td><a href="{% url 'accounting:update_contract_sale' cs.id %}">Update</a></td>
                        <td><a class="confirm-delete" href="{% url 'accounting:delete_contract_sale' cs.id %}">Delete</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <script>

    let sales_id = 0;
    $(document).on('click', '.confirm-delete', function(){
        return confirm('Are you sure you want to delete this?');
    })

    function getElement(elm){
        return document.getElementById(elm);
    }

    function removeClass(elm, class_name){
        var stat = elm.classList.contains(class_name);
        if (stat == true) {
            elm.classList.remove(class_name);
            console.log("class name removed:" + class_name);
        }
    }

    function addClass(elm, class_name){
        var stat = elm.classList.contains(class_name);
        if (stat == false) {
            elm.classList.add(class_name);
            console.log("class name removed:" + class_name);
        }
    }

    var matches = document.querySelectorAll('.radioSales');
    for (match in matches) {
      matches[match].onclick = function() {
        sales_id = this.value;
        console.log("sales id set!");
        var btn_invoice = getElement('id_btn_invoice');
        removeClass(id_btn_invoice, "disabled");
        removeClass(id_btn_invoice, "text-gray");
        addClass(id_btn_invoice, "text-white");
      }
    }

    function set_invoice_data(){
        console.log("setting invoice_data!");
        const url = "/accounting/set_invoice_data";
        console.log("url: "+url);
        console.log("sales id: " +sales_id);
        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/accounting/set_invoice_data/)
          dataType: "json",
          method: "POST",
          data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'sales_id': sales_id,       // add the contract id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_contracts` view function
            console.log(data);
            window.location.href = "{% url 'accounting:add_cont_sale_invoice' %}"
    <!--        $("#id_rate_amount").html(data.rate_amount);-->
    <!--        $("#id_rate_amount").val(data.rate_amount);-->
          },
            error: function(e)
            {
                console.log('Error: ' + e);
            }
        });
  }

    </script>
        
    {% endif %}
{% endblock body %}