{% extends "layout.html" %}
{% block body %}

    {% if request.user.is_authenticated %}
        <div class = "jumbotron text-center" style="margin-top: 60px;">
            <h3>You can add your articles or files.</h3>
            <p>Verba volent scripta manent.</p>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div align="right">
                    <form>
                        {% csrf_token %}
                        <input type="text" id="input_search" name = "keyword" class="input" placeholder="Search">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>

     {% else %}
    {% endif %}
{% endblock body %}