{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
    <div class="row">
    <div class="col-md-6 offset-md-3" style = "margin-top:20px;">
        <h3>Add Contract</h3>
        <hr>
        <form method = "POST">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary">Add Contract</button>
        </form>
    </div>
    </div>
{% endblock body %}
{% load static %}