{% extends "layout.html" %}
{% load humanize %}
{% block body %}
    
    <div class="container-fluid">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <form>
                  <h3>Contracts</h3>
                  <p>&nbsp;</p>
                  <a class="btn btn-primary" href ="{% url 'accounting:add_contract' %}">Add Contract</a>
          </div>
              </form>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <form>
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Search</button>
          </div>
                <input type="text" name="keyword" class="form-control" placeholder="Input a keyword ..." aria-label="" aria-describedby="basic-addon1">
              </form>
        </div>
    </div>

    {% if not contracts %}
        <div class="alert alert-danger" style = "margin-top:20px;">There is no contract yet.</div>
    {% else %}
        <table class="table table-hover" style="margin-top:20px;">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Contract</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Rate Type</th>
                    <th scope="col">Rate Amount</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Billing Period</th>
                    <th scope="col">Contract Status</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in contracts  %}
                    <tr>
                        <th scope="row">{{ contract.id }}</th>
                        <td><a href="{% url 'accounting:contract_detail' contract.id %}">{{ contract.contract_alias }}</a></td>
                                    <!--/articles/article/{{ article.id }}-->
                        <td>{{ contract.customer }}</td>
                        <td>{{ contract.start_date }}</td>
                        <td>{{ contract.rate_type }}</td>
                        <td>{{ contract.rate_amount | intcomma }}</td>
                        <td>{{ contract.currency }}</td>
                        <td>{{ contract.billing_period }}</td>
                        <td>{{ contract.is_active }}</td>
                        <td><a href="{% url 'accounting:update_contract' contract.id %}">Update</a></td>
                                    <!--/articles/update/{{ article.id }}-->
                        <td><a href="{% url 'accounting:delete_contract' contract.id %}">Delete</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        
    {% endif %}
{% endblock body %}