{% extends "layout.html" %}
{% load humanize %}
{% block body %}
    
    <div class="container-fluid">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <form>
                  <h3>Contracts</h3>
                  <p>&nbsp;</p>
                  <a class="btn btn-primary" href ="{% url 'accounting:add_contract' %}">Add Contract</a>
                  <a class="btn btn-primary disabled" id="id_btn_add_sales" onclick="set_sales_data()" >Add Contract Sales</a>

          </div>
              </form>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <form>
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Search</button>
          </div>
                <input type="text" name="keyword" class="form-control" placeholder="Input a keyword ..." aria-label="" aria-describedby="basic-addon1">
              </form>
        </div>


    {% if not contracts %}
        <div class="alert alert-danger" style = "margin-top:20px;">There is no contract yet.</div>
    </div>
    {% else %}
        <table class="table table-hover" style="margin-top:20px;">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Add Sales</th>
                    <th scope="col">Contract</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Rate Type</th>
                    <th scope="col">Rate Amount</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Billing Period</th>
                    <th scope="col">Contract Status</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in contracts  %}
                    <tr>
                        <th scope="row">{{ contract.id }}</th>
                        <td><input class="form-check-input radioContract" style="vertical-align: middle; margin: 10px;" name="radio-sales" type="radio" value="{{ contract.id }}"></td>
                        <td><a href="{% url 'accounting:contract_detail' contract.id %}">{{ contract.contract_alias }}</a></td>
                        <td>{{ contract.customer }}</td>
                        <td>{{ contract.start_date }}</td>
                        <td>{{ contract.contract_type.rate_type.rate_type}}</td>
                        <td>{{ contract.rate_amount | intcomma }}</td>
                        <td>{{ contract.currency }}</td>
                        <td>{{ contract.contract_type.rate_type.billing_period.billing_period }}</td>
                        <td>{{ contract.is_active }}</td>
                        <td><a href="{% url 'accounting:update_contract' contract.id %}">Update</a></td>
                                    <!--/articles/update/{{ article.id }}-->
                        <td><a href="{% url 'accounting:delete_contract' contract.id %}">Delete</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    <script>
    let contract_id = 0;
    let project_type = "";

    function getElement(elm){
        return document.getElementById(elm);
    }

    function removeClass(elm, class_name){
        var stat = elm.classList.contains("disabled");
        if (stat == true) {
            elm.classList.remove(class_name);
            console.log("class name removed:" + class_name);
        }
    }

    function addClass(elm, class_name){
        var stat = elm.classList.contains(class_name);
        if (stat == false) {
            elm.classList.add(class_name);
            console.log("class name removed:" + class_name);
        }
    }

    var matches = document.querySelectorAll('.radioContract');
    for (match in matches) {
      matches[match].onclick = function() {
        contract_id = this.value;
        // project_type = this.name;
        console.log("contract id set!");
        var btn_add_sales = getElement('id_btn_add_sales');
        enable_button(btn_add_sales);
        //set_button_title("test");
      }
    }

    // Attach the event listener to the 'beforeunload' event
  window.onbeforeunload = function () {
    // Here, you can call the function to uncheck the checkboxes with the desired class name
    uncheckRadio("radioContract");
  };

    function uncheckRadio(className) {
        const radios = document.querySelectorAll(`.${className}`);
        radios.forEach((radio) => {
          radio.checked = false;
        });
    }

    function enable_button(el){
        removeClass(el, "disabled");
        removeClass(el, "text-gray");
        addClass(el, "text-white");
    }

    function disable_button(el){
        removeClass(el, "text-white");
        addClass(el, "text-gray");
        addClass(el, "disabled");
    }

    function set_button_title(mtitle){
     // get the selected contract data
     // set the button title accordingly
     // redirect to the relevant page
     console.log("setting the button title...");
     // $("#id_btn_add_sales").text(mtitle);
    }

    function set_sales_data(){
        console.log("setting the sales data...");
        const url = "/accounting/set_sales_data";  // get the url of the view
        console.log("url: " + url);
        console.log("contract id: " + contract_id);
        if (contract_id > 0){
            $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= localhost:8000/accounting/load-contract/)
              dataType: "json",
              method: "POST",
              data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'contract_id': contract_id,       // add the contract id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_contracts` view function
                console.log(data);
                console.log("rate: " + (data.contract_type__rate_type__rate_type).toLowerCase().includes('hour'))
                if ((data.contract_type__rate_type__rate_type).toLowerCase().includes('hour')){
                    window.location.href = "{% url 'accounting:add_contract_sale' %}"
                    console.log("ok");
                }else {
                    //window.location.href = "{% url 'accounting:add_milestone' %}"
                    window.location.href = "{% url 'accounting:add_contract_sale' %}"
                    console.log("nope");
                }
               // window.location.href = "{% url 'accounting:add_contract_sale' %}"
        <!--        $("#id_rate_amount").html(data.rate_amount);-->
        <!--        $("#id_rate_amount").val(data.rate_amount);-->
              },
                error: function(e)
                {
                    console.log('Error: ' + e);
                }
            });
        }else{
            console.log("contract id not found!");
        }
  }

    </script>
    {% endif %}
{% endblock body %}